

.App-body {
	background: linear-gradient(to top,  #e6efe9 5%, #db571a 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(2px + 2vmin);
}

.corps {
  background-color:#fff;
  margin-top: 110px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 110px;
  position: relative;

}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.display {
  margin-top: 50px;
  text-align: left;
}
.displays {
  margin-top: 50px;
  margin-left: 40px;
}